<html>
<head>
    <title>Tweets</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/master.css"></link>
</head>
<body background="{{STATIC_URL}}img/zara_background.png">
	<div id="centered_div">
		<img id="logo" src="{{STATIC_URL}}img/logo.png"></img>
		<div>
			<img id="logo2" src="{{STATIC_URL}}img/button.png"></img>
    		<form id="form1" action="/results/" method="get">
    		<input type="text" placeholder="Search Artist" name="artistname">
    		<input id="submit_button" type="submit" value=""></input>
    	</form> 
    	</div>
    </div>
</body>
</html>
